 
.box0 {
          height: 60.0rem;
          border-radius: 2.5rem;
          background-color: white;
          background-image:url("web-developement-banner.png");
          background-repeat: no-repeat;
          background-size: 150.0rem 30.0rem;
          margin-bottom: 5.0rem;
          
          color: black;
        
        }
    
        .center{
            text-align: center;
            padding-top: 2.0rem;
            font-style: oblique;
            font-size: 3.0rem;
        }
    
        .flex-container {
          display: flex;
          margin-left: 90.0rem;
        }
        
        .flex-container > div {
          margin: 1.0rem;
        
          font-size: 2.0rem;
        }
        
         .flex-container2 {
           display: flex;
           flex-wrap: nowrap;
        }
            
        .flex-container2 > div {
            width: 10.0rem;
            margin: 1.0rem;
            text-align: center;
            line-height: 7.5rem;
            font-size: 2.0rem;
        }
            
        .color{
            color: white;
        }
    
        .padding{
            margin-left: 8.0rem;
            text-align:left;
            font-family: 'Open Sans', sans-serif;
        }
    
        .padding2{
            margin-left: 8.0rem;
            text-align:left;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 2.0rem;
            padding-bottom: 1.0rem;
        }
    
        .head{
            font-family: 'Fjalla One', sans-serif;
        }
    
        .font2{
            font-family: 'Mukta', sans-serif;
            font-size: 2.0rem;
        }
    
        .box{
          padding-top: .5rem;  
          padding-left: 10.0rem;
          padding-right: 10.0rem;
          padding-bottom: 1.0rem;
          border-radius: 2.5rem;
          background-color: white;
          text-align:left;
          margin-bottom: 5.0rem;
          font-size: 2.0rem
        }
    
        .box2{
            padding-top: .5rem;
          padding-left: 10.0rem;
          padding-right: 10.0rem;
          padding-bottom: 1.0rem;
          border-radius: 2.5rem;
          background-color: white;
          text-align: left;
          margin-bottom: 5.0rem;
          font-size: 2.0rem
        }
    
        .box3{
          height: 16.0rem;
          width: 16.0rem;
          border-radius: 10.0rem;
          text-align: left;
          background-image: url("WhatsApp\ Image\ 2021-05-02\ at\ 11.02.24\ PM.jpeg");
          background-repeat: no-repeat;
          background-size: 16.0rem 16.0rem;
          margin-left: 10.0rem;
          border-style: solid;
          border-width: .5rem;
          border-color: white;
        }
        .grid-container {
            display: grid;
            grid-template-columns: auto auto;
            padding-bottom: 5.0rem;
          }
          
          .grid-item {
            font-size: 3.0rem;
            padding: .5rem;
          }
    html{
        font-size: 62.5%;
    }
