html{
  font-size: 62.5%;
}
body{
  background-color: gainsboro;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
}
@media screen and (max-width:980) {
  body{
    background-color: gainsboro;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 1.25rem;
  }
  
}
.box0 {
    height: 80.0rem;
    border-radius: 2.5rem;
    background-color: white;
    background-image:url("web-developement-banner.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 5.0rem;
    padding-top: 26%;

  
  }
  @media screen and (min-width:980px) {
      .box0{
        height: 70.0rem;
        border-radius: 2.5rem;
        background-color: white;
        background-image:url("web-developement-banner.png");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 5.0rem;
        
        
      }
   }

  .center{
      text-align: center;
      font-style: oblique;
      font-size: 3.0rem;
      position: fixed;
      width: 100%;
  }
  
   .flex-container2 {
     display: flex;
     flex-wrap: nowrap;
  }
      
  .flex-container2 > div {
      width: 10.0rem;
      margin: 1.0rem;
      text-align: center;
      line-height: 7.5rem;
      font-size: 2.0rem;
  }
      
  .color{
      color: black;
  }

  .head{
      font-family: 'Fjalla One', sans-serif;
  }
@media screen and (max-width:980px) {
    .head{
        font-family: 'Fjalla One', sans-serif;
    }    
}
  .font2{
      font-family: 'Mukta', sans-serif;
      font-size: 2.0rem;
  }
@media screen and (max-width:980px) {
    .font2{
        font-family: 'Mukta', sans-serif;
        font-size: 2.0rem;
    }
    
}  
  .box{
    padding-top: .5rem;  
    padding-left: 30.0rem;
    padding-right: 30.0rem;
    padding-bottom: 1.0rem;
    border-radius: 2.5rem;
    background-color: white;
    text-align:left;
    margin-bottom: 5.0rem;
    font-size: 2.0rem
  }
@media screen and (max-width:980px) {
  .box{
    padding-top: .5rem;  
    padding-left: 10.0rem;
    padding-right: 10.0rem;
    padding-bottom: 1.0rem;
    border-radius: 2.5rem;
    background-color: white;
    text-align:left;
    margin-bottom: 5.0rem;
    font-size: 2.0rem
  }
}
  .box2{
      padding-top: .5rem;
    padding-left: 30.0rem;
    padding-right: 30.0rem;
    padding-bottom: 1.0rem;
    border-radius: 2.5rem;
    background-color: white;
    text-align: left;
    margin-bottom: 5.0rem;
    font-size: 2.0rem
  }
@media screen and (max-width:980px) {
  .box2{
    padding-top: .5rem;
  padding-left: 10.0rem;
  padding-right: 10.0rem;
  padding-bottom: 1.0rem;
  border-radius: 2.5rem;
  background-color: white;
  text-align: left;
  margin-bottom: 5.0rem;
  font-size: 2.0rem
}
  
}
  .box3{
    height: 30.0rem;
    width: 30.0rem;
    border-radius: 25.0rem;
    text-align: left;
    background-image: url("WhatsApp\ Image\ 2021-05-02\ at\ 11.02.24\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: 31.0rem 31.0rem;
    margin-left: 8.0rem;
    border-style: solid;
    border-width: .5rem;
    border-color: white;   
  }
 @media screen and (max-width:980px) {
    .box3{
        height: 20.0rem;
        width: 20.0rem;
        border-radius: 17.0rem;
        text-align: center;
        background-image: url("WhatsApp\ Image\ 2021-05-02\ at\ 11.02.24\ PM.jpeg");
        background-repeat: no-repeat;
        background-size: 21.0rem 21.0rem;
        margin-left: 40%;
        border-style: solid;
        border-width: .5rem;
        border-color: white;}
     
 } 
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
    }
    
    .grid-item {
        
      font-size: 3.0rem;
      padding: .1rem;
    }

